microdados_enade_2019_LGPD/1. LEIA-ME/Dicionário_arquivos _ variáveis_microdados_Enade_2019.ods
microdados_enade_2019_LGPD/1. LEIA-ME/Dicionário_arquivos _ variáveis_microdados_Enade_2019.xlsx
microdados_enade_2019_LGPD/1. LEIA-ME/Manual do usuário_Enade_2019.pdf
microdados_enade_2019_LGPD/1. LEIA-ME/Questionário do Estudante_Enade_Ediç╞o 2019.pdf
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq1.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq2.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq3.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq4.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq5.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq6.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq7.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq8.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq9.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq10.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq11.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq12.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq13.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq14.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq15.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq16.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq17.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq18.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq19.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq20.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq21.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq22.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq23.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq24.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq25.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq26.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq27.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq28.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq29.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq30.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq31.txt
microdados_enade_2019_LGPD/2. DADOS/microdados2019_arq32.txt
microdados_enade_2021/1.LEIA-ME/Dicionário_arquivos_variáveis_microdados_Enade_2021.ods
microdados_enade_2021/1.LEIA-ME/Dicionário_arquivos_variáveis_microdados_Enade_2021.xlsx
microdados_enade_2021/1.LEIA-ME/Manual do usuário_Enade_2021.pdf
microdados_enade_2021/1.LEIA-ME/Questionário do Estudante Enade 2021.pdf
microdados_enade_2021/1.LEIA-ME/Questionário Licenciaturas - Enade 2021.pdf
microdados_enade_2021/1.LEIA-ME/QuestΣes complementares - pandemia.pdf
microdados_enade_2021/2.DADOS/microdados2021_arq1.txt
microdados_enade_2021/2.DADOS/microdados2021_arq2.txt
microdados_enade_2021/2.DADOS/microdados2021_arq3.txt
microdados_enade_2021/2.DADOS/microdados2021_arq4.txt
microdados_enade_2021/2.DADOS/microdados2021_arq5.txt
microdados_enade_2021/2.DADOS/microdados2021_arq6.txt
microdados_enade_2021/2.DADOS/microdados2021_arq7.txt
microdados_enade_2021/2.DADOS/microdados2021_arq8.txt
microdados_enade_2021/2.DADOS/microdados2021_arq9.txt
microdados_enade_2021/2.DADOS/microdados2021_arq10.txt
microdados_enade_2021/2.DADOS/microdados2021_arq11.txt
microdados_enade_2021/2.DADOS/microdados2021_arq12.txt
microdados_enade_2021/2.DADOS/microdados2021_arq13.txt
microdados_enade_2021/2.DADOS/microdados2021_arq14.txt
microdados_enade_2021/2.DADOS/microdados2021_arq15.txt
microdados_enade_2021/2.DADOS/microdados2021_arq16.txt
microdados_enade_2021/2.DADOS/microdados2021_arq17.txt
microdados_enade_2021/2.DADOS/microdados2021_arq18.txt
microdados_enade_2021/2.DADOS/microdados2021_arq19.txt
microdados_enade_2021/2.DADOS/microdados2021_arq20.txt
microdados_enade_2021/2.DADOS/microdados2021_arq21.txt
microdados_enade_2021/2.DADOS/microdados2021_arq22.txt
microdados_enade_2021/2.DADOS/microdados2021_arq23.txt
microdados_enade_2021/2.DADOS/microdados2021_arq24.txt
microdados_enade_2021/2.DADOS/microdados2021_arq25.txt
microdados_enade_2021/2.DADOS/microdados2021_arq26.txt
microdados_enade_2021/2.DADOS/microdados2021_arq27.txt
microdados_enade_2021/2.DADOS/microdados2021_arq28.txt
microdados_enade_2021/2.DADOS/microdados2021_arq29.txt
microdados_enade_2021/2.DADOS/microdados2021_arq30.txt
microdados_enade_2021/2.DADOS/microdados2021_arq31.txt
microdados_enade_2021/2.DADOS/microdados2021_arq32.txt
microdados_enade_2021/2.DADOS/microdados2021_arq33.txt
microdados_enade_2021/2.DADOS/microdados2021_arq34.txt
microdados_enade_2021/2.DADOS/microdados2021_arq35.txt
microdados_enade_2021/2.DADOS/microdados2021_arq36.txt
microdados_enade_2021/2.DADOS/microdados2021_arq37.txt
microdados_enade_2021/2.DADOS/microdados2021_arq38.txt
microdados_enade_2021/2.DADOS/microdados2021_arq39.txt
microdados_enade_2021/2.DADOS/microdados2021_arq40.txt
microdados_enade_2021/2.DADOS/microdados2021_arq41.txt
microdados_enade_2021/2.DADOS/microdados2021_arq42.txt
microdados_enade_2021/2.DADOS/microdados2021_arq43.txt
microdados_enade_2018_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdadosEnade_2018.ods
microdados_enade_2018_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdadosEnade_2018.xlsx
microdados_enade_2018_LGPD/1.LEIA-ME/Manual do usuário_Enade_2018.pdf
microdados_enade_2018_LGPD/1.LEIA-ME/Questionário do Estudante_Enade_Ediç╞o 2018.pdf
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq1.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq2.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq3.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq4.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq5.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq6.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq7.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq8.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq9.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq10.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq11.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq12.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq13.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq14.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq15.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq16.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq17.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq18.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq19.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq20.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq21.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq22.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq23.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq24.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq25.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq26.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq27.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq28.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq29.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq30.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq31.txt
microdados_enade_2018_LGPD/2.DADOS/microdados2018_arq32.txt
microdados_enade_2017_LGPD/1.LEIA-ME/~$Dicionário_arquivos _ variáveis_microdados do Enade_2016.xlsx
microdados_enade_2017_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdados do Enade_2017.ods
microdados_enade_2017_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdados do Enade_2017.xlsx
microdados_enade_2017_LGPD/1.LEIA-ME/Manual do usuário_Enade_2017.pdf
microdados_enade_2017_LGPD/1.LEIA-ME/Questionário do Estudante_Enade_Ediç╞o 2017.pdf
microdados_enade_2017_LGPD/1.LEIA-ME/Questionário Licenciaturas - Enade 2017.pdf
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq1.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq2.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq3.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq4.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq5.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq6.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq7.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq8.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq9.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq10.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq11.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq12.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq13.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq14.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq15.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq16.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq17.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq18.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq19.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq20.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq21.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq22.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq23.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq24.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq25.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq26.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq27.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq28.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq29.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq30.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq31.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq32.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq33.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq34.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq35.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq36.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq37.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq38.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq39.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq40.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq41.txt
microdados_enade_2017_LGPD/2.DADOS/microdados2017_arq42.txt
microdados_enade_2016_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdados do Enade_2016.ods
microdados_enade_2016_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdados do Enade_2016.xlsx
microdados_enade_2016_LGPD/1.LEIA-ME/Manual do usuário_Enade_2016.pdf
microdados_enade_2016_LGPD/1.LEIA-ME/Questionário do Estudante_Enade_Ediç╞o 2016.pdf
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq1.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq2.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq3.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq4.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq5.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq6.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq7.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq8.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq9.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq10.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq11.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq12.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq13.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq14.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq15.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq16.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq17.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq18.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq19.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq20.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq21.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq22.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq23.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq24.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq25.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq26.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq27.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq28.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq29.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq30.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq31.txt
microdados_enade_2016_LGPD/2.DADOS/microdados2016_arq32.txt
microdados_enade_2015_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdados do Enade_2015.ods
microdados_enade_2015_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdados do Enade_2015.xlsx
microdados_enade_2015_LGPD/1.LEIA-ME/Manual do usuário_Enade_2015.pdf
microdados_enade_2015_LGPD/1.LEIA-ME/Questionario do Estudante_Enade_Ediç╞o 2015.pdf
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq1.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq2.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq3.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq4.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq5.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq6.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq7.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq8.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq9.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq10.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq11.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq12.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq13.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq14.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq15.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq16.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq17.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq18.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq19.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq20.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq21.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq22.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq23.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq24.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq25.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq26.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq27.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq28.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq29.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq30.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq31.txt
microdados_enade_2015_LGPD/2.DADOS/microdados2015_arq32.txt
microdados_enade_2014_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdados do Enade_2014.ods
microdados_enade_2014_LGPD/1.LEIA-ME/Dicionário_arquivos _ variáveis_microdados do Enade_2014.xlsx
microdados_enade_2014_LGPD/1.LEIA-ME/Manual do usuário_Enade_2014.pdf
microdados_enade_2014_LGPD/1.LEIA-ME/Questionário do Estudante do Enade_Compl Licenciatura_Ediç╞o 2014.pdf
microdados_enade_2014_LGPD/1.LEIA-ME/Questionário do Estudante do Enade_Ediç╞o 2014.pdf
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq1.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq2.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq3.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq4.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq5.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq6.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq7.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq8.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq9.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq10.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq11.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq12.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq13.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq14.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq15.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq16.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq17.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq18.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq19.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq20.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq21.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq22.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq23.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq24.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq25.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq26.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq27.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq28.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq29.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq30.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq31.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq32.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq33.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq34.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq35.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq36.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq37.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq38.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq39.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq40.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq41.txt
microdados_enade_2014_LGPD/2.DADOS/microdados2014_arq42.txt
microdados_enade_2013_LGPD/1.LEIA-ME/Dicionário_arquivos_variáveis_microdados do Enade_Ediç╞o 2013.ods
microdados_enade_2013_LGPD/1.LEIA-ME/Dicionário_arquivos_variáveis_microdados do Enade_Ediç╞o 2013.xlsx
microdados_enade_2013_LGPD/1.LEIA-ME/Manual do usuário_Enade_2013.pdf
microdados_enade_2013_LGPD/1.LEIA-ME/Questionário do Estudante do Enade_Ediç╞o 2013.pdf
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq1.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq2.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq3.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq4.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq5.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq6.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq7.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq8.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq9.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq10.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq11.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq12.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq13.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq14.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq15.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq16.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq17.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq18.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq19.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq20.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq21.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq22.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq23.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq24.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq25.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq26.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq27.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq28.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq29.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq30.txt
microdados_enade_2013_LGPD/2.DADOS/microdados2013_arq31.txt
microdados_enade_2012_LGPD/1.LEIA-ME/Dicionário_arquivos_variáveis_microdados do Enade_Ediç╞o 2012.ods
microdados_enade_2012_LGPD/1.LEIA-ME/Dicionário_arquivos_variáveis_microdados do Enade_Ediç╞o 2012.xlsx
microdados_enade_2012_LGPD/1.LEIA-ME/Manual do usuário_Enade_2012.pdf
microdados_enade_2012_LGPD/1.LEIA-ME/Questionário do Estudante do Enade_Ediç╞o 2012.pdf
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq1.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq2.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq3.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq4.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq5.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq6.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq7.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq8.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq9.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq10.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq11.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq12.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq13.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq14.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq15.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq16.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq17.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq18.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq19.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq20.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq21.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq22.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq23.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq24.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq25.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq26.txt
microdados_enade_2012_LGPD/2.DADOS/microdados2012_arq27.txt
microdados_enade_2011/1.LEIA-ME/Dicionário de Variáveis dos Microdados do Enade_Ediç╞o 2011.ods
microdados_enade_2011/1.LEIA-ME/Dicionário de Variáveis dos Microdados do Enade_Ediç╞o 2011.xlsx
microdados_enade_2011/1.LEIA-ME/Manual do usuário_Enade_2011.pdf
microdados_enade_2011/1.LEIA-ME/Questionário do Estudante do Enade_Ediç╞o 2011.pdf
microdados_enade_2011/2.DADOS/microdados2011_arq1.txt
microdados_enade_2011/2.DADOS/microdados2011_arq2.txt
microdados_enade_2011/2.DADOS/microdados2011_arq3.txt
microdados_enade_2011/2.DADOS/microdados2011_arq4.txt
microdados_enade_2011/2.DADOS/microdados2011_arq5.txt
microdados_enade_2011/2.DADOS/microdados2011_arq6.txt
microdados_enade_2011/2.DADOS/microdados2011_arq7.txt
microdados_enade_2011/2.DADOS/microdados2011_arq8.txt
microdados_enade_2011/2.DADOS/microdados2011_arq9.txt
microdados_enade_2011/2.DADOS/microdados2011_arq10.txt
microdados_enade_2011/2.DADOS/microdados2011_arq11.txt
microdados_enade_2011/2.DADOS/microdados2011_arq12.txt
microdados_enade_2011/2.DADOS/microdados2011_arq13.txt
microdados_enade_2011/2.DADOS/microdados2011_arq14.txt
microdados_enade_2011/2.DADOS/microdados2011_arq15.txt
microdados_enade_2011/2.DADOS/microdados2011_arq16.txt
microdados_enade_2011/2.DADOS/microdados2011_arq17.txt
microdados_enade_2011/2.DADOS/microdados2011_arq18.txt
microdados_enade_2011/2.DADOS/microdados2011_arq19.txt
microdados_enade_2011/2.DADOS/microdados2011_arq20.txt
microdados_enade_2011/2.DADOS/microdados2011_arq21.txt
microdados_enade_2011/2.DADOS/microdados2011_arq22.txt
microdados_enade_2011/2.DADOS/microdados2011_arq23.txt
microdados_enade_2011/2.DADOS/microdados2011_arq24.txt
microdados_enade_2011/2.DADOS/microdados2011_arq25.txt
microdados_enade_2011/2.DADOS/microdados2011_arq26.txt
microdados_enade_2011/2.DADOS/microdados2011_arq27.txt
microdados_enade_2010/1.LEIA-ME/Dicionário de Variáveis dos Microdados do Enade_Ediç╞o 2010_LGPD.ods
microdados_enade_2010/1.LEIA-ME/Dicionário de Variáveis dos Microdados do Enade_Ediç╞o 2010_LGPD.xlsx
microdados_enade_2010/1.LEIA-ME/Manual do usuário_Enade_2010.pdf
microdados_enade_2010/1.LEIA-ME/Questionário do Estudante do Enade_Ediç╞o 2010.pdf
microdados_enade_2010/2.DADOS/microdados2010_arq1.txt
microdados_enade_2010/2.DADOS/microdados2010_arq2.txt
microdados_enade_2010/2.DADOS/microdados2010_arq3.txt
microdados_enade_2010/2.DADOS/microdados2010_arq4.txt
microdados_enade_2010/2.DADOS/microdados2010_arq5.txt
microdados_enade_2010/2.DADOS/microdados2010_arq6.txt
microdados_enade_2010/2.DADOS/microdados2010_arq7.txt
microdados_enade_2010/2.DADOS/microdados2010_arq8.txt
microdados_enade_2010/2.DADOS/microdados2010_arq9.txt
microdados_enade_2010/2.DADOS/microdados2010_arq10.txt
microdados_enade_2010/2.DADOS/microdados2010_arq11.txt
microdados_enade_2010/2.DADOS/microdados2010_arq12.txt
microdados_enade_2010/2.DADOS/microdados2010_arq13.txt
microdados_enade_2010/2.DADOS/microdados2010_arq14.txt
microdados_enade_2010/2.DADOS/microdados2010_arq15.txt
microdados_enade_2010/2.DADOS/microdados2010_arq16.txt
microdados_enade_2010/2.DADOS/microdados2010_arq17.txt
microdados_enade_2010/2.DADOS/microdados2010_arq18.txt
microdados_enade_2010/2.DADOS/microdados2010_arq19.txt
microdados_enade_2010/2.DADOS/microdados2010_arq20.txt
microdados_enade_2010/2.DADOS/microdados2010_arq21.txt
microdados_enade_2010/2.DADOS/microdados2010_arq22.txt
microdados_enade_2010/2.DADOS/microdados2010_arq23.txt
microdados_enade_2010/2.DADOS/microdados2010_arq24.txt
microdados_enade_2010/2.DADOS/microdados2010_arq25.txt
microdados_enade_2010/2.DADOS/microdados2010_arq26.txt
microdados_enade_2010/2.DADOS/microdados2010_arq27.txt
